/* line 1, ../sass/style.scss */
.fl {
  float: left;
}

/* line 4, ../sass/style.scss */
.fr {
  float: right;
}

/* line 9, ../sass/style.scss */
.wq-pt-0 {
  padding-top: 0px;
}

/* line 10, ../sass/style.scss */
.wq-pl-0 {
  padding-left: 0px;
}

/* line 11, ../sass/style.scss */
.wq-pb-0 {
  padding-bottom: 0px;
}

/* line 12, ../sass/style.scss */
.wq-pr-0 {
  padding-right: 0px;
}

/* line 13, ../sass/style.scss */
.wq-mt-0 {
  margin-top: 0px;
}

/* line 14, ../sass/style.scss */
.wq-ml-0 {
  margin-left: 0px;
}

/* line 15, ../sass/style.scss */
.wq-mb-0 {
  margin-bottom: 0px;
}

/* line 16, ../sass/style.scss */
.wq-mr-0 {
  margin-right: 0px;
}

/* line 9, ../sass/style.scss */
.wq-pt-5 {
  padding-top: 5px;
}

/* line 10, ../sass/style.scss */
.wq-pl-5 {
  padding-left: 5px;
}

/* line 11, ../sass/style.scss */
.wq-pb-5 {
  padding-bottom: 5px;
}

/* line 12, ../sass/style.scss */
.wq-pr-5 {
  padding-right: 5px;
}

/* line 13, ../sass/style.scss */
.wq-mt-5 {
  margin-top: 5px;
}

/* line 14, ../sass/style.scss */
.wq-ml-5 {
  margin-left: 5px;
}

/* line 15, ../sass/style.scss */
.wq-mb-5 {
  margin-bottom: 5px;
}

/* line 16, ../sass/style.scss */
.wq-mr-5 {
  margin-right: 5px;
}

/* line 9, ../sass/style.scss */
.wq-pt-10 {
  padding-top: 10px;
}

/* line 10, ../sass/style.scss */
.wq-pl-10 {
  padding-left: 10px;
}

/* line 11, ../sass/style.scss */
.wq-pb-10 {
  padding-bottom: 10px;
}

/* line 12, ../sass/style.scss */
.wq-pr-10 {
  padding-right: 10px;
}

/* line 13, ../sass/style.scss */
.wq-mt-10 {
  margin-top: 10px;
}

/* line 14, ../sass/style.scss */
.wq-ml-10 {
  margin-left: 10px;
}

/* line 15, ../sass/style.scss */
.wq-mb-10 {
  margin-bottom: 10px;
}

/* line 16, ../sass/style.scss */
.wq-mr-10 {
  margin-right: 10px;
}

/* line 9, ../sass/style.scss */
.wq-pt-15 {
  padding-top: 15px;
}

/* line 10, ../sass/style.scss */
.wq-pl-15 {
  padding-left: 15px;
}

/* line 11, ../sass/style.scss */
.wq-pb-15 {
  padding-bottom: 15px;
}

/* line 12, ../sass/style.scss */
.wq-pr-15 {
  padding-right: 15px;
}

/* line 13, ../sass/style.scss */
.wq-mt-15 {
  margin-top: 15px;
}

/* line 14, ../sass/style.scss */
.wq-ml-15 {
  margin-left: 15px;
}

/* line 15, ../sass/style.scss */
.wq-mb-15 {
  margin-bottom: 15px;
}

/* line 16, ../sass/style.scss */
.wq-mr-15 {
  margin-right: 15px;
}

/* line 9, ../sass/style.scss */
.wq-pt-20 {
  padding-top: 20px;
}

/* line 10, ../sass/style.scss */
.wq-pl-20 {
  padding-left: 20px;
}

/* line 11, ../sass/style.scss */
.wq-pb-20 {
  padding-bottom: 20px;
}

/* line 12, ../sass/style.scss */
.wq-pr-20 {
  padding-right: 20px;
}

/* line 13, ../sass/style.scss */
.wq-mt-20 {
  margin-top: 20px;
}

/* line 14, ../sass/style.scss */
.wq-ml-20 {
  margin-left: 20px;
}

/* line 15, ../sass/style.scss */
.wq-mb-20 {
  margin-bottom: 20px;
}

/* line 16, ../sass/style.scss */
.wq-mr-20 {
  margin-right: 20px;
}

/* line 9, ../sass/style.scss */
.wq-pt-25 {
  padding-top: 25px;
}

/* line 10, ../sass/style.scss */
.wq-pl-25 {
  padding-left: 25px;
}

/* line 11, ../sass/style.scss */
.wq-pb-25 {
  padding-bottom: 25px;
}

/* line 12, ../sass/style.scss */
.wq-pr-25 {
  padding-right: 25px;
}

/* line 13, ../sass/style.scss */
.wq-mt-25 {
  margin-top: 25px;
}

/* line 14, ../sass/style.scss */
.wq-ml-25 {
  margin-left: 25px;
}

/* line 15, ../sass/style.scss */
.wq-mb-25 {
  margin-bottom: 25px;
}

/* line 16, ../sass/style.scss */
.wq-mr-25 {
  margin-right: 25px;
}

/* line 9, ../sass/style.scss */
.wq-pt-30 {
  padding-top: 30px;
}

/* line 10, ../sass/style.scss */
.wq-pl-30 {
  padding-left: 30px;
}

/* line 11, ../sass/style.scss */
.wq-pb-30 {
  padding-bottom: 30px;
}

/* line 12, ../sass/style.scss */
.wq-pr-30 {
  padding-right: 30px;
}

/* line 13, ../sass/style.scss */
.wq-mt-30 {
  margin-top: 30px;
}

/* line 14, ../sass/style.scss */
.wq-ml-30 {
  margin-left: 30px;
}

/* line 15, ../sass/style.scss */
.wq-mb-30 {
  margin-bottom: 30px;
}

/* line 16, ../sass/style.scss */
.wq-mr-30 {
  margin-right: 30px;
}

/* line 9, ../sass/style.scss */
.wq-pt-35 {
  padding-top: 35px;
}

/* line 10, ../sass/style.scss */
.wq-pl-35 {
  padding-left: 35px;
}

/* line 11, ../sass/style.scss */
.wq-pb-35 {
  padding-bottom: 35px;
}

/* line 12, ../sass/style.scss */
.wq-pr-35 {
  padding-right: 35px;
}

/* line 13, ../sass/style.scss */
.wq-mt-35 {
  margin-top: 35px;
}

/* line 14, ../sass/style.scss */
.wq-ml-35 {
  margin-left: 35px;
}

/* line 15, ../sass/style.scss */
.wq-mb-35 {
  margin-bottom: 35px;
}

/* line 16, ../sass/style.scss */
.wq-mr-35 {
  margin-right: 35px;
}

/* line 9, ../sass/style.scss */
.wq-pt-40 {
  padding-top: 40px;
}

/* line 10, ../sass/style.scss */
.wq-pl-40 {
  padding-left: 40px;
}

/* line 11, ../sass/style.scss */
.wq-pb-40 {
  padding-bottom: 40px;
}

/* line 12, ../sass/style.scss */
.wq-pr-40 {
  padding-right: 40px;
}

/* line 13, ../sass/style.scss */
.wq-mt-40 {
  margin-top: 40px;
}

/* line 14, ../sass/style.scss */
.wq-ml-40 {
  margin-left: 40px;
}

/* line 15, ../sass/style.scss */
.wq-mb-40 {
  margin-bottom: 40px;
}

/* line 16, ../sass/style.scss */
.wq-mr-40 {
  margin-right: 40px;
}

/* line 9, ../sass/style.scss */
.wq-pt-45 {
  padding-top: 45px;
}

/* line 10, ../sass/style.scss */
.wq-pl-45 {
  padding-left: 45px;
}

/* line 11, ../sass/style.scss */
.wq-pb-45 {
  padding-bottom: 45px;
}

/* line 12, ../sass/style.scss */
.wq-pr-45 {
  padding-right: 45px;
}

/* line 13, ../sass/style.scss */
.wq-mt-45 {
  margin-top: 45px;
}

/* line 14, ../sass/style.scss */
.wq-ml-45 {
  margin-left: 45px;
}

/* line 15, ../sass/style.scss */
.wq-mb-45 {
  margin-bottom: 45px;
}

/* line 16, ../sass/style.scss */
.wq-mr-45 {
  margin-right: 45px;
}

/* line 9, ../sass/style.scss */
.wq-pt-50 {
  padding-top: 50px;
}

/* line 10, ../sass/style.scss */
.wq-pl-50 {
  padding-left: 50px;
}

/* line 11, ../sass/style.scss */
.wq-pb-50 {
  padding-bottom: 50px;
}

/* line 12, ../sass/style.scss */
.wq-pr-50 {
  padding-right: 50px;
}

/* line 13, ../sass/style.scss */
.wq-mt-50 {
  margin-top: 50px;
}

/* line 14, ../sass/style.scss */
.wq-ml-50 {
  margin-left: 50px;
}

/* line 15, ../sass/style.scss */
.wq-mb-50 {
  margin-bottom: 50px;
}

/* line 16, ../sass/style.scss */
.wq-mr-50 {
  margin-right: 50px;
}

/* line 9, ../sass/style.scss */
.wq-pt-55 {
  padding-top: 55px;
}

/* line 10, ../sass/style.scss */
.wq-pl-55 {
  padding-left: 55px;
}

/* line 11, ../sass/style.scss */
.wq-pb-55 {
  padding-bottom: 55px;
}

/* line 12, ../sass/style.scss */
.wq-pr-55 {
  padding-right: 55px;
}

/* line 13, ../sass/style.scss */
.wq-mt-55 {
  margin-top: 55px;
}

/* line 14, ../sass/style.scss */
.wq-ml-55 {
  margin-left: 55px;
}

/* line 15, ../sass/style.scss */
.wq-mb-55 {
  margin-bottom: 55px;
}

/* line 16, ../sass/style.scss */
.wq-mr-55 {
  margin-right: 55px;
}

/* line 9, ../sass/style.scss */
.wq-pt-60 {
  padding-top: 60px;
}

/* line 10, ../sass/style.scss */
.wq-pl-60 {
  padding-left: 60px;
}

/* line 11, ../sass/style.scss */
.wq-pb-60 {
  padding-bottom: 60px;
}

/* line 12, ../sass/style.scss */
.wq-pr-60 {
  padding-right: 60px;
}

/* line 13, ../sass/style.scss */
.wq-mt-60 {
  margin-top: 60px;
}

/* line 14, ../sass/style.scss */
.wq-ml-60 {
  margin-left: 60px;
}

/* line 15, ../sass/style.scss */
.wq-mb-60 {
  margin-bottom: 60px;
}

/* line 16, ../sass/style.scss */
.wq-mr-60 {
  margin-right: 60px;
}

/* line 9, ../sass/style.scss */
.wq-pt-65 {
  padding-top: 65px;
}

/* line 10, ../sass/style.scss */
.wq-pl-65 {
  padding-left: 65px;
}

/* line 11, ../sass/style.scss */
.wq-pb-65 {
  padding-bottom: 65px;
}

/* line 12, ../sass/style.scss */
.wq-pr-65 {
  padding-right: 65px;
}

/* line 13, ../sass/style.scss */
.wq-mt-65 {
  margin-top: 65px;
}

/* line 14, ../sass/style.scss */
.wq-ml-65 {
  margin-left: 65px;
}

/* line 15, ../sass/style.scss */
.wq-mb-65 {
  margin-bottom: 65px;
}

/* line 16, ../sass/style.scss */
.wq-mr-65 {
  margin-right: 65px;
}

/* line 9, ../sass/style.scss */
.wq-pt-70 {
  padding-top: 70px;
}

/* line 10, ../sass/style.scss */
.wq-pl-70 {
  padding-left: 70px;
}

/* line 11, ../sass/style.scss */
.wq-pb-70 {
  padding-bottom: 70px;
}

/* line 12, ../sass/style.scss */
.wq-pr-70 {
  padding-right: 70px;
}

/* line 13, ../sass/style.scss */
.wq-mt-70 {
  margin-top: 70px;
}

/* line 14, ../sass/style.scss */
.wq-ml-70 {
  margin-left: 70px;
}

/* line 15, ../sass/style.scss */
.wq-mb-70 {
  margin-bottom: 70px;
}

/* line 16, ../sass/style.scss */
.wq-mr-70 {
  margin-right: 70px;
}

/* line 9, ../sass/style.scss */
.wq-pt-75 {
  padding-top: 75px;
}

/* line 10, ../sass/style.scss */
.wq-pl-75 {
  padding-left: 75px;
}

/* line 11, ../sass/style.scss */
.wq-pb-75 {
  padding-bottom: 75px;
}

/* line 12, ../sass/style.scss */
.wq-pr-75 {
  padding-right: 75px;
}

/* line 13, ../sass/style.scss */
.wq-mt-75 {
  margin-top: 75px;
}

/* line 14, ../sass/style.scss */
.wq-ml-75 {
  margin-left: 75px;
}

/* line 15, ../sass/style.scss */
.wq-mb-75 {
  margin-bottom: 75px;
}

/* line 16, ../sass/style.scss */
.wq-mr-75 {
  margin-right: 75px;
}

/* line 9, ../sass/style.scss */
.wq-pt-80 {
  padding-top: 80px;
}

/* line 10, ../sass/style.scss */
.wq-pl-80 {
  padding-left: 80px;
}

/* line 11, ../sass/style.scss */
.wq-pb-80 {
  padding-bottom: 80px;
}

/* line 12, ../sass/style.scss */
.wq-pr-80 {
  padding-right: 80px;
}

/* line 13, ../sass/style.scss */
.wq-mt-80 {
  margin-top: 80px;
}

/* line 14, ../sass/style.scss */
.wq-ml-80 {
  margin-left: 80px;
}

/* line 15, ../sass/style.scss */
.wq-mb-80 {
  margin-bottom: 80px;
}

/* line 16, ../sass/style.scss */
.wq-mr-80 {
  margin-right: 80px;
}

/* line 9, ../sass/style.scss */
.wq-pt-85 {
  padding-top: 85px;
}

/* line 10, ../sass/style.scss */
.wq-pl-85 {
  padding-left: 85px;
}

/* line 11, ../sass/style.scss */
.wq-pb-85 {
  padding-bottom: 85px;
}

/* line 12, ../sass/style.scss */
.wq-pr-85 {
  padding-right: 85px;
}

/* line 13, ../sass/style.scss */
.wq-mt-85 {
  margin-top: 85px;
}

/* line 14, ../sass/style.scss */
.wq-ml-85 {
  margin-left: 85px;
}

/* line 15, ../sass/style.scss */
.wq-mb-85 {
  margin-bottom: 85px;
}

/* line 16, ../sass/style.scss */
.wq-mr-85 {
  margin-right: 85px;
}

/* line 9, ../sass/style.scss */
.wq-pt-90 {
  padding-top: 90px;
}

/* line 10, ../sass/style.scss */
.wq-pl-90 {
  padding-left: 90px;
}

/* line 11, ../sass/style.scss */
.wq-pb-90 {
  padding-bottom: 90px;
}

/* line 12, ../sass/style.scss */
.wq-pr-90 {
  padding-right: 90px;
}

/* line 13, ../sass/style.scss */
.wq-mt-90 {
  margin-top: 90px;
}

/* line 14, ../sass/style.scss */
.wq-ml-90 {
  margin-left: 90px;
}

/* line 15, ../sass/style.scss */
.wq-mb-90 {
  margin-bottom: 90px;
}

/* line 16, ../sass/style.scss */
.wq-mr-90 {
  margin-right: 90px;
}

/* line 9, ../sass/style.scss */
.wq-pt-95 {
  padding-top: 95px;
}

/* line 10, ../sass/style.scss */
.wq-pl-95 {
  padding-left: 95px;
}

/* line 11, ../sass/style.scss */
.wq-pb-95 {
  padding-bottom: 95px;
}

/* line 12, ../sass/style.scss */
.wq-pr-95 {
  padding-right: 95px;
}

/* line 13, ../sass/style.scss */
.wq-mt-95 {
  margin-top: 95px;
}

/* line 14, ../sass/style.scss */
.wq-ml-95 {
  margin-left: 95px;
}

/* line 15, ../sass/style.scss */
.wq-mb-95 {
  margin-bottom: 95px;
}

/* line 16, ../sass/style.scss */
.wq-mr-95 {
  margin-right: 95px;
}

/* line 9, ../sass/style.scss */
.wq-pt-100 {
  padding-top: 100px;
}

/* line 10, ../sass/style.scss */
.wq-pl-100 {
  padding-left: 100px;
}

/* line 11, ../sass/style.scss */
.wq-pb-100 {
  padding-bottom: 100px;
}

/* line 12, ../sass/style.scss */
.wq-pr-100 {
  padding-right: 100px;
}

/* line 13, ../sass/style.scss */
.wq-mt-100 {
  margin-top: 100px;
}

/* line 14, ../sass/style.scss */
.wq-ml-100 {
  margin-left: 100px;
}

/* line 15, ../sass/style.scss */
.wq-mb-100 {
  margin-bottom: 100px;
}

/* line 16, ../sass/style.scss */
.wq-mr-100 {
  margin-right: 100px;
}
