.fl {
    float:left;
}
.fr {
    float:right;
}

@for $i from 0 through 20 {
    .wq-pt-#{$i*5}{padding-top:5px * $i;}
    .wq-pl-#{$i*5}{padding-left:5px * $i;}
    .wq-pb-#{$i*5}{padding-bottom:5px * $i;}
    .wq-pr-#{$i*5}{padding-right:5px * $i;}
    .wq-mt-#{$i*5}{margin-top:5px * $i;}
    .wq-ml-#{$i*5}{margin-left:5px * $i;}
    .wq-mb-#{$i*5}{margin-bottom:5px * $i;}
    .wq-mr-#{$i*5}{margin-right:5px * $i;}
}



.edit-leftwrapper {float:left;width:168px;position:fixed;top:52px;}
.edit-rightwrapper {margin-left:180px;}

.draggnav, .sortnav{padding-left:0;list-style-type:none;background-color:#eee;}
.draggnav {
    padding:10px 20px;
    li>span {
        display:inline-block;width:20px;margin-right:10px;
    }
}
.sortnav {
    padding:10px;
    .panel-body {
        overflow-y:scroll;
    }
}

.action-area>span{cursor:pointer;}
.img-area {
    float:left;margin-right:10px;margin-bottom:10px;width:150px;height:180px;border:1px solid #eee;
    img{
        width:140px;height:140px;margin:0 auto;
    }
    .radio, .checkbox {
        input[type="text"] {
            line-height:12px;
            width:100px;
        }
    }
}

.sort-left {
    float:left;
}
.sort-right {
    margin-left:200px;
}

.score-area {
    display:block;
    .score-area-left {
        float:left;
    }
    .score-area-right {
        margin-left:200px;
    }
}

.uploader {
    position:relative;
    border:1px dashed #eee;
    input {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        width: 100%;
        height: 100%;
        border: solid transparent;
        opacity: .0;
        filter: alpha(opacity= 0);cursor: pointer;
    }
    .fui-image {
        position:absolute;
        display:block;width:18px;height:18px;
        left:50%;top:50%;margin-left:-9px;margin-top:-9px;
    }
}

#N-base {
    h4 {
        border-bottom:1px solid #ccc;
        padding-bottom:4px;
    }
}
        
